

.service-container {
  display: flex;
  flex-direction: row;
  
  align-items: center;
  color: black;
}

.service-card {
  min-width: 280px;
  
  background: rgba(255, 255, 255, 0.5); /* Ajustando transparência */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px;
 
  text-decoration: none;
  color: black;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.container{
  
  padding: 20px;
  
}



 
  
 
  
  /* Exemplo de Media Query para ajustar a imagem de fundo em diferentes tamanhos de tela 
  @media (max-width: 768px) {
 
    
    .service-container {
      display: flex;
      flex-direction: row;
      
      align-items: center;
      color: black;
    }
    
    .service-card {
      
      
      background: rgba(255, 255, 255, 0.5); 
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      text-decoration: none;
      color: black;
    }
    
    .service-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    }
    
  }
  */